
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    transition: all 0.2s linear;
}

html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*HEADER*/

header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background:url('assets/vangogh.jpg');
    padding:1rem 6%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
    border-bottom: 8px solid #02172b;
    
}

header .logo{
    color:white;
    font-size: 4rem;
    opacity: 0;
    transform: translateY(50px); 
    animation: slideUp 1s ease-in-out forwards;
    text-shadow: 3px 3px 6px rgba(11, 10, 10, 0.5);
    font-family: "Homemade Apple", cursive;
    font-weight: 700;
    font-style: normal;

}
@keyframes slideUp {
    to {
        opacity: 1; 
        transform: translateY(0); 
      }
  }
header .logo img{
  height: auto;
}
header .navbar a{

    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(215, 29, 29, 0.5);
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal; 
    padding: 5rem 2rem;
    color:wheat;
    border:.1rem solid transparent;
}

header .navbar a.active,
header .navbar a:hover{
    color:red;
}

header .icons i{
    cursor: pointer;
    margin-left: 0.5em;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background:transparent;
    text-align: center;
    font-size: 1.7rem;
    color:#fff;
    border-radius:20px;
    
}

header .icons i:hover{
    color:#fff;
    background: transparent;


}

header .icons #menu
{
  display: none;
}


/*hero*/


hero {
    position: relative;
    display:inline-block   
}
hero h1{
   
   font-size: 12rem;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 2;
   text-align: center;
   color:rgb(239, 233, 233);
   text-shadow: 4px blue;
   
}


hero img{
    width: 100vw;
    
}

/*about*/


.about{
    background-color: #1d4e89;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.about .image img{
    margin-top: 100px;
    width: 25vw;
    animation: floatAnimation 5s ease-in-out infinite;
}
@keyframes floatAnimation {
    0% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-30px); 
    }
    100% {
      transform: translateY(0); 
    }
  }
.about .text{
    width: 60vw;
    margin-top:50px;
    margin-left: 65px;
    padding: 10px;
    line-height: 50px;
   
}
.about h1{
    font-size: 8rem;
    color: rgb(243, 20, 20);
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}
.about h2{
    font-size: 4rem;
    color: white;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}
.about .skills{
    overflow: hidden;
    background-color: rgb(132, 203, 132);
    margin-left: 20px;

}
.about .skills h3{
    font-size: 5rem;
    color: rgb(206, 32, 32);
    font-family: "Cedarville Cursive", cursive;
    font-weight: 600;
    font-style: normal;
    animation: moveText 15s linear infinite; 
    white-space: nowrap;  
    position: relative;   
    left: 100%;  }

@keyframes moveText {
    0% {
        left: 100%;        
      }
      100% {
        left: -100%;        
  }
}

/*my work section*/

.iframe-container {
    background-color: #1d4e89;
    display: flex;  
    justify-content: center; 
    flex-wrap: wrap;
    width: 90%;  
    margin: 20px auto;
    padding: 30px;  
}

.embedded-iframe {
    background-color: white;
    width: 70%;
    height:500px;  
    border: none;
    margin: 20px;
}
.selected h1{
    font-size: 5rem;
    color: red;
    margin-top: 30px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}


@media(max-width:768px)
{   
    header .logo{
        font-size:3rem;
    }
    header .logo img{
        height: 7rem;

    }
    header .icons #menu
    {
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:rgb(44, 26, 61);
        opacity: 90%;
        border-top: 1rem rgb(231, 201, 201);
        border-bottom:1rem rgb(234, 208, 208);
        padding: 1rem;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);

    }
    header .navbar.active{
         clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background:transparent;
       }
    hero h1{
        font-size: 5rem;
    }
    .about .image img{
        margin-top: 100px;
        width:20vw;
    }
    .about h1{
        font-size: 6rem;

    }
    .about h2{
        font-size: 3rem;
    }
    .about .text{
        width: 60vw;
        margin-top:25px;
        margin-left: 70px;
        padding: 5px;
        line-height: 30px;
       
    }
    .about .skills{
        margin-left: 2px;
    }
    .about .skills h3{
        font-size: 2rem;
    }
    .iframe-container {
        width: 100%;  
        margin: 15px auto;
        padding: 10px;  
    }
    .embedded-iframe {
        width: 100%; 
        height:500px;  
        border: none;
        margin: 10px;
    }
    
   
    }
    @media(max-width:455px){
        header .logo{
            font-size: 2rem;
        }
        .about{
            justify-content: center;
            padding: 2px;
            margin: 2px;
        }

        .about .image img{
            width: 50vw;
            margin-top: 20px;
        }
        .about .text{
            margin: 0;
            padding: 0;
            width: 100vw;
            border: #fff;
        }
        .about .text h1{
            font-size: 3rem;
        }
        .about .text h2{
            font-size: 2rem;
        }
        .iframe-container {
            width: 100%;  
            margin: 0;
            padding: 0;  
        }
        .embedded-iframe {
            width: 100%; 
            height:80vw;  
            border:2px solid black;
            margin: 50px;
        }
      
    }